:root{
    --primary-color:#12fc0a;
    --secondary-color:#12fc0a;
}
.mb-20{
    margin-bottom: 20px;
}
nav{
    padding: 20px;
}
.title{
    width: 100%;
    border:1px solid gray;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    font-size: 25px;
}
.title2{
    width: 100%;
    font-size: 25px;
    padding: 6px;
}
.border-remove{
    border:0;
    outline: 0; 
}
.edit{
    width: 100%;
    border:1px solid gray;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    font-size: 20px;
}
.options{
    display: none;
}
.card-body:hover .options{
    display: block;
}